/******************************************Configuração do Body****************************************************************/
body{
	margin: 0;
	padding: 0;	
}
/****************************************************Fim**********************************************************************/
/***************************************************Posicionamento da barra de tarefas********************************************/
header{
  display: flex;
  justify-content: center;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;  
  width: 100%;  
  top: 0px;
  z-index: 3;
}
.container{
  display: flex;
  justify-content: space-between;
  width: 990px;
  height: 100px; 
}
/*********************************************Configrações SVG*****************************************************************/
.icon_svg{
  width: 60px;
}
.pulse {  
  animation-duration: 3s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}
/***************************************************fim************************************************************************/
.logo,
.menu{  
  display: flex;
  align-items: center;
}
nav ul,
nav li{
  list-style: none;
  padding: 0;
  margin: 0;   
}
nav ul{
  display: flex;
}
nav a{
  display: block;
  padding: 8px;
}

/*Imagem do Logo*/
.lobo {
  width: 60px;  
  border-radius: 100%;  
}
/***************************************************fim************************************************************************/
/***************************************************Banner********************************************************************/

/************************************************** Panels********************************************************************/
.original,
.modificado{    
  width: 100%;
}
.splitview {
    position: relative;    
    min-height: 45vw;
    overflow: hidden;
}
/**************************************Esse Código Ajuntou as duas imagens****************************************************/
.panel {
  position: absolute;
  width: 100vw;
  min-height: 45vw;
  overflow: hidden;
}
/*******************************************Jogou os Textos para trás********************************************************/
.panel .content {
  position: absolute;
  width: 100vw;
  min-height: 45vw;
  color: #FFF;
}
/****************************Deixou a imagem sem margin e maior e fez aparecer o texto da direita****************************/
.panel .description {
  width: 25%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
/*Comentário ou código que não precisei usar*/
/*panel img {  
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}*/
.bottom .description {
  right: 5%;
}
/*********************Deixa a marcação com angulos diferentes, se eu quiser deixar linear eu apago o polygon abaixo***********/    
/***************************************************Também posso mudar a cor**************************************************/
.top {
    /*background-color: rgb(77, 69, 173);*/
    z-index: 2;
    width: 50vw;
    -webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
}
.top .description {
  left: 5%;
}
/*linha de divisão
.handle {
    height: 100%;
    position: absolute;
    display: block;
    background-color: rgb(253, 171, 0);
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
}*/
/**************************************************************Skewed.***********************************************************/
.skewed .handle {
  top: 50%;
  transform: rotate(30deg) translateY(-50%);
  height: 200%;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
}
.skewed .top {
  transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(50vw + 1000px);
}
.skewed .top .content {
  transform: skew(30deg);
  margin-left: 1063px;
}
/***************************************************section********************************************************************/
#geral{
  display: flex;
  justify-content: center;
  background-color: #262626;
  height: 2000px;
}
#geral section{
  flex: 2;
}
#geral aside{
  flex: 1;
}
/***************************************************Textos section geral***************************************************************/
.titulo,
.texto,
.titulo_skil,
.titulo_ilus,
.titulo_coder{
  font-size: 4rem;
  margin: auto;
  color: white;
  font-family: Segoe Ui;
  }
  .titulo{
    width: 380px;
  }
  #titulo{
    margin-bottom: 0;
  }
.texto {
  font-size: 21px;
}
.cristian {
    width: 512px;
    position: absolute;
    margin-top: -20px;
    margin-left: 235px;
    z-index: 3;
}
.retangulo {
    margin-left: 320px;
    margin-top: 71px;
    width: 330px;
    height: 330px;
    background: white;
    border-radius: 8px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.pincel {
    width: 49.3vw;
    height: 60.3vw;
    margin-left: 121px;
    margin-top: -402px;
}
/****************************************************Wolf**********************************************************************/
#wolf {
    float: right;
    height: 1238px;
    margin-top: -417px;
    position: static;
}
/****************************************************Fim**********************************************************************/
#fig_cod{
  float: left;
}
.fig_cod {    
    height: 744px;    
    position: static;
    margin-left: -438px;
}
/**********************************************Arvore de habilidade***********************************************************/
.divisão_skil {    
    margin-top: 522px;
    margin-left: -360px;
    position: absolute;    
}
.divisão_ferramenta_1 {    
    margin-top: 632px;
    margin-left: -360px;
    position: absolute;    
}
.divisão_ferramenta_2 {    
    margin-top: 800px;
    margin-left: -360px;
    position: absolute;
}
.skil {
    width: 200px;
}
#ps{
  margin-left: 128px;
}
#ai{
  margin-right: -6px;
}
#xd{
  margin-right: 129px;
}
/****************************************************Fim**********************************************************************/
/*************************************************Ilustração/coder************************************************************/
.ilustracao,
.coder{  
  text-align: center;  
}
.ilustracao {
    margin-top: 820px;
    position: absolute;
}
.coder {
    margin-top: 1480px;
    position: absolute;
    margin-left: 71px;
}
.titulo_ilus {
    margin-top: 200px;
}
.port {
    margin-top: 1080px;
    position: absolute;
    margin-left: -140px;
}
.port_coder {
    margin-top: 1525px;
    position: absolute;
    margin-left: -140px;
}
/****************************************************Fim**********************************************************************/
/****************************************************Background do form*******************************************************/
#back{
    background-image: url(../img/jp.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 850px;
}
.form_esquerdo,
.japao{
    width: 400px;
    height: 665px;
    border-radius: 8px 0px 0px 8px;
}
.form_direito {
    width: 343px;
    background-color: #262626;
    position: relative;
    margin-top: -745px;
    float: right;
    padding: 30px;
    margin-right: 29%;
    border-radius: 0px 8px 8px 0px;
    height: 605px;
}
.form_esquerdo {
    position: relative;
    margin-top: -745px;
    float: left;
    margin-left: 29%;
    border-radius: 8px 0px 0px 8px;
}
.form_direito, 
.form_esquerdo {
  box-shadow: 1px 1px 0.5em -0.5px #242424;
}
/****************************************************Fim**********************************************************************/
/****************************************************Form*********************************************************************/
.can_help {
    font-size: 33px;
    color: white;
    font-family: Segoe Ui;
    text-align: center;
}
.jean {
  margin-top: -15px;
}
label{
  color: white;
  font-size: 35px;
  font-family: Segoe Ui;
}
input {
    border-style: none;
    border-bottom: solid 1px;
    border-color: #707070;
    color: white;
    background-color: #262626;
    width: 100%;
    height: 51px;
    font-size: 25px;
}
#place::-webkit-input-placeholder{    
    color: white;
    background-color: #262626;
    text-transform: uppercase;
    font-family: Segoe Ui;
    font-size: 26px;
}
textarea {
    background-color: #262626;
    border-radius: 8px;
    color: white;
    font-family: Segoe Ui;
    font-size: 20px;
    padding: 5px;
    width: 321px;
    height: 250px;
}
.form_r {
    margin-left: 2%;
    margin-top: -43px;
}
/**************************************************Configuração e design do botão***********************************************/
button{
  width: 100%;
  height: 71px;
  background-color: #262626;
  border-style: none;  
  padding: 5px;
}
.ok {
    color: #E10404;
    font-family: Segoe Ui;
    font-size: 36px;    
    margin: 0;
}
.ok{
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #E10404;
  font-size: 30px;    
  text-decoration: none;  
  overflow: hidden;
  transition: 0.2s;
}
.ok:hover{
  color: white;
  background: #E10404;
  box-shadow: 0 0 10px #E10404, 0 0 40px #E10404, 0 0 80px #E10404;
  border-radius: 8px;
  transition-delay: 1s;
}
.ok span{
  position: absolute;
  display: block;
}
.ok span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #E10404);
}
.ok:hover span:nth-child(1){  
  left: 100%;
  transition: 2s;  
}
/**********/
.ok span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #E10404);
}
.ok:hover span:nth-child(3){  
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
.ok span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #E10404);
}
.ok:hover span:nth-child(2){  
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
.ok span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #E10404);
}
.ok:hover span:nth-child(4){  
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
/****************************************************Fim**********************************************************************/
.swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
.swiper-slide {
      background-position: center;
      background-size: cover;
      background: white;
      width: 300px;
      height: 300px;
    }
/****************************************************footer********************************************************************/
footer {    
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;    
}
h6 {
    font-size: 15px;
    margin: 12px;
    color: white;
    font-family: Segoe Ui;
    text-align: center;
}
/****************************************************Animação scroll*********************************************************/
.animation_e,
.animation_d{
  opacity: 0;
  transition:  .3s;
}
.animation_e{
  transform: translate3d(-50px, 0, 0);
}
.animation_d{
  transform: translate3d(50px, 0, 0);
}
.animation_e.slideInLeft{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.animation_d.slideInRight{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
/****************************************************Fim*********************************************************************/
/****************************************************Menu_mobile**************************************************************/
.menu_mobile{
  display: none;
  width: 40px;
  height: 40px;  
}
.mm_l{
  height: 4px; 
  background-color: #E10404;
}

/**************************************************************Responsivo****************************************************/
/****************************************************************viewport****************************************************/
/*Revisão~ok*/
@media only screen and (max-width:1440px){
  .form_direito {
    margin-right: 21.3%;
  }
  .form_esquerdo{
    margin-left: 22%;
  }
  .pincel{
    margin-left: 125px;
  }
  .skewed .top {   
    margin-left: -1015px;
  }
  .pincel {
    margin-left: 117px;
  }
  #wolf {
    height: 1238px;
    margin-top: 379px;   
    margin-left: -675px;
  }

}
@media only screen and (max-width:1024px){
  .form_direito {
    margin-right: 9.9%;
  }
  .form_esquerdo {
    margin-left: 11%;
  }  
  .retangulo{
    width: 280px;
    height: 280px;
    margin-left: 260px;
  }   
  .skewed .top {   
    margin-left: -1015px;
  }
  .cristian {
    width: 412px;
    margin-top: 21px;
    margin-left: 194px;
  }
  .divisão_ferramenta_1 {  
    margin-left: -378px;
  }
  .divisão_ferramenta_2 {    
    margin-left: -384px;
  }
  .skewed .top {
    margin-left: -1030px;
  }
}
@media only screen and (max-width: 786px){
  .form_esquerdo,
  #wolf,
  .pincel,
  .retangulo {   
    display: none;
  }
  .skil {
    width: 155px;
  }
  .cristian{    
    width: 351px;
    margin-left: -256px;
  }
  .container{
    width: 636px;
  }
  .divisão_ferramenta_2 {
    margin-left: -487px;
  }
  .titulo_ilus {
    margin-left: -401px;
  }
  .titulo_coder {
    margin-left: -536px;
  }
  .port,
  .port_coder {
    margin-left: -499px;
  }
  .form_direito {
    margin-right: 23.9%;
    border-radius: 8px;
  }
  #ai {
    margin-right: 5px;
  }
  #ps {
    margin-left: 118px;
    margin-right: 7px;
  }
  .skewed .top {
    margin-left: -1037px;
  }
  nav ul{
    flex-direction: column;
    position: absolute;
    left: 0;
    width: 100%;        
    margin-top: 20px;
  }
  nav ul{
   display: none;
  }
  ul{    
    margin-top: 30px;
    text-align: center;   
  }
  header{
    height: auto;
  }
  .menu_mobile{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  }
  li{
     background-color: rgba(0, 0, 0, 0.7);        
  }
  .cristian{
    z-index: 2;
  }  
  .black_clover:hover{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  .menu_mobile{
    padding: 10px;    
  }
  nav li .active .icon_svg,
    nav li:hover{
      background-color: rgba(0, 0, 0, 0.9);    
    }
}

@media only screen and (max-width: 425px){
  header{
    height: 48px;
  }
  .container{
    height: auto;
    width: 300px;
    text-align: center;
  }
  .lobo{
    width: 30px;  
  }  
  .menu_mobile{
    width: 20px;
    height: 20px;
    padding: 5px;
  }
  .black_clover:hover{  
    width: 30px;
    height: 30px;
  }
  nav ul{
    margin-top: 9px;
  }
  .cristian,
  .fig_cod,
  .skewed .top{
    display: none;
  }  
  .titulo {
    width: 325px;
    font-size: 2rem;
    margin-left: -26px;
  }
  .titulo_skil {
    font-size: 2rem;
    margin-top: -260px;
    margin-left: 117px;
  }
  .texto {
    font-size: 16px;
  }
  .divisão_ferramenta_1 {
    margin-top: 338px;
    margin-left: -312px;
}
  .skil {
    width: 73px;
  }
  .divisão_ferramenta_2 {
    margin-left: -387px;
    margin-top: 414px;
  }
  .ilustracao {
    margin-top: 309px; 
  }
  .titulo_ilus {
    margin-left: -318px;
    font-size: 2rem;
  }
  .port {
    margin-top: 512px;
  }
  .swiper-slide {
    width: 200px;
    height: 200px;  
  }
  .coder {
    margin-top: 811px;
    margin-left: 51px;
  }
  .titulo_coder {
    margin-left: -285px;
    font-size: 2rem;
    width: 80px;
  }
  .port_coder {
    margin-top: 833px;
  }
  #geral {   
    height: 1143px;
  }
  #ps {
    margin-left: 110px;
    margin-right: 7px;
    }
  #xd {
    margin-right: 0px;
  }
  .port, .port_coder {
    margin-left: -361px;
    }
    .form_direito {
    margin-right: 12.9%;
    width: 283px;
    height: 515px;
  }
  .can_help{
    font-size: 27px;
    margin-top: 40px
  }
  .form_r{
      margin-left: 0;
  }
  textarea{
    width: 274px;
    height: 175px;
  }  
  .animation_d,
  .animation_e{
    display: none;
  }
}